body{
background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://www.octanner.com/content/dam/oc-tanner/images/v2/culture-glossary/positive-work-environment/2021_07_CultureGlossary_PositiveWorkEnv_01.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100%;
width: 100%;
font-family: Verdana;
font-size: 1rem;
color: white;
margin: 0;
background-attachment: fixed;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

label{
  display: block;
  margin: 2em auto;
}

form {
  width: 80vw;
  max-width: 500px;
  min-width: 300px;
  margin: auto;
  padding-bottom: 2em;
}

fieldset{
  border: none;
  padding:.5em;
}

input, button, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
}   
.cool{
    display: block;
    width: 90%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-top: .5rem;
}

.c{
    
    height: 2rem;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.i{
  display: inline;
}

.t{
  display: block;
}

.input-textarea {
    min-height: 120px;
    width: 90%;
    padding: 0.625rem;
    resize: vertical;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: rgb(49 187 87);
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
    border-color: rgb(49 187 87);
}

form{
  background: rgba(185, 191, 255, .4) 
}
